<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>八号钱庄</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="description" content="八号钱庄是我司目前的主要产品，集成“智能匹配+产品推荐+链接银行+客服协助“于一身的新商业模式，入口端为app，与线上官网咨询，通过服务端在线客服团队引流到app准入。">
	<meta name="keywords" content="八号钱庄,八号助手,金融工具,中瀛科技,鑫易贷,">
	<link rel="icon" href="{$Think.const.BACK_IMG_URL}web/icon.png" type="image/jpeg"/>
	<link rel="stylesheet" type="text/css" href="{$Think.const.BACK_CSS_URL}bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{$Think.const.BACK_CSS_URL}web/aboutusv1.0.css">
	<link rel="stylesheet" type="text/css" href="{$Think.const.BACK_CSS_URL}web/publicv1.0.css">
	<title>关于我们</title>
</head>
<body>
	<!-- 顶部 -->
	<div class="top">
		<div class="container">
			<p>客服热线 :020-3847-2070</p>
		</div>
	</div>

	<!-- 导航栏 开始 -->
	<div class="navbar " role="navigation">
	    <nav class="container">
	        <div class="navbar-header">
	            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
	                data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	            </button>
	            <a href="https://www.8haoqianzhuang.com/"><img src="{$Think.const.BACK_IMG_URL}web/中瀛官网LOGO.png" alt="" ></a>
	        </div>
	        <div id="navbar" class="navbar-collapse collapse navbar-right" aria-expanded="ture">
				<ul class="nav navbar-nav">
					 <li><a href="/index/index/index/index.html" class="">首页</a></li>
					 <li><a href="/index/index/download/downlad.html" class="">下载APP</a></li>
					 <li><a href="/index/index/journalism/journalism.html" class="">新闻资讯</a></li>
					 <li><a href="/index/index/aboutus/aboutus.html" class="active">关于我们</a></li>
			 	</ul>
	        </div>
	    </nav>
	</div>
	<!-- 导航栏 结束 -->
	<main>
		<div class="bg-color">
			<div class="bg-white" style="width: 100%;"id="companyprofile">
				<div class="container ">
					<div class="row">
						<div class="col-lg-12">
							<div class="company">
								<div class="title text-center">
									<h4>公司简介</h4>
									<span>COMPANY PROFILE</span>
									<p style=""></p>
								</div>
								<div class="text">
									<!-- <h5>深圳鑫易贷互联网金融有限公司</h5> -->
									<p>深圳鑫易贷互联网金融有限公司成立于2015年，注册资金5000万，是一家专业的信息服务互联网金融平台，旗下拥有线上大型金融超市「八号钱庄」「八号幸福」两大品牌，均由子公司广州中瀛信息科技有限公司开发完成。目前全国有五家分公司，主要效劳于中小企业及个人，提供贷款融资，购置车房，投资保险咨询等的专业线上一对一管家服务。以“让客户没有信息障碍，将信息透明进行到底“为中心价值。希望通过我们的专业服务和不懈努力，重塑信息透明互联网新征程。</p>
									<p>八号钱庄是我司目前的主要产品，集成“智能匹配+产品推荐+链接银行+客服协助“于一身的新商业模式，入口端为app，与线上官网咨询，通过服务端在线客服团队引流到app准入。的服务流水线双结合。自「八号钱庄」成立以来不断秉承以客户需求为中心，专注客户体验为核心，为超越10000个客户提供用心，优质的服务受到广大企业家和工薪人员及社会各阶层人士的信任与好评。公司不仅提供专业的信息服务，同时还树立了完善的售后服务体系。为客户在开展中遇到的困难提供协助。我们相信，经过我们的不断努力和追求。将信息化透明到底，互利共赢。</p>
									<p>深圳市鑫易贷互联网金融有限公司崇尚“厚侍员工、铸就品牌”的理念，坚守“信心、希望；诚实、理想”的标准，成就“勇敢、智勤、务实”的品质；秉承“以社会信息透明化为已任，以企业品牌国际化为本位，携手共进，创造财富，挑战自我，成就共赢”的企业宗旨，以“完善的企业法人结构，健全的企业运营制度，特具竞争的板块优势，不断创新的企业文化”推动企业的快速发展。</p>
									<p>八号钱庄的品牌愿景：“多富一个人，多成就一个家。”八号钱庄的品牌使命：提升自我，服务他人；帮助他人，成就自我。八号钱庄的品牌价值观：上有雄韬伟略，下有躬行践履，上下一心，无往不胜 。八号钱庄的品牌理念：厚侍员工，博奉品牌。八号钱庄的经管方针：文化做经营，标准做管理。</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container" id="productadvantage">
				<div class="row">
					<div class="product">
						<div class="title text-center">
							<h4>产品优势</h4>
							<span>PRODUCT ADVANTAGE</span>
							<p style=""></p>
						</div>

					</div>
				</div>
				<div class="row block">
					<div class="col-md-3 col-sm-6 col3">
						<div class="youshi1">

						</div>
					</div>
					<div class="col-md-3 col-sm-6 col3">
						<div class="youshi2">

						</div>
					</div>
					<div class="col-md-3 col-sm-6 col3">
						<div class="youshi3">

						</div>
					</div>
					<div class="col-md-3 col-sm-6 col3">
						<div class="youshi4">

						</div>
					</div>
				</div>
			</div>

			<div class="bg-white" style="width: 100%;"id="businessmodel">
				<div class="container ">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12">
							<div class="business">
								<div class="title text-center">
									<h4>业务模式</h4>
									<span>BUSINESS MODEL</span>
									<p style=""></p>
								</div>
								<div class="business">
									<img src="{$Think.const.BACK_IMG_URL}web/业务模式.png" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container ">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<div class="product">
							<div class="title text-center">
								<h4>联系我们</h4>
								<span>CONTACT US</span>
								<p style=""></p>
							</div>
							<div class="address">
							 	<div class="col-lg-6 col-md-6 col-sm-12 text">
							 		<h5>深圳市鑫易贷互联网金融信息科技有限公司</h5>
							 		<p>地址：深圳市福田区深南中路3018交通银行大厦21层</p>
							 		<p>邮编：518000</p>
							 		<p>客服QQ：2794042559</p>
							 		<p>客服邮箱：2794042559@qq.com</p>
							 	</div>


								<div class="col-lg-6 col-md-6 col-sm-12 text">
								<h5>广州市中瀛信息科技有限公司</h5>
								<p>地址：广州市天河区珠江新城高德置地秋广场F座</p>
								<p>邮编：518000</p>
								<p>客服QQ：2794042559</p>
								<p>客服邮箱：2794042559@qq.com</p>
							</div>
							 	<!-- <div class="col-lg-6 col-md-6 col-sm-12">
							 		<div style="width: 530px;height: 308px;background-color: #fff"></div>
							 	</div> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>



	<!-- 下载 -->
	<div class="downlad">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-md-12 col-sm-12">
					<div class="col-sm-3 text-center" >
						<h5 class="hidden-xs hidden-sm">关于我们</h5>
						<ul class="list-unstyled ">
							<li><a href="/index/index/aboutus/aboutus.html#companyprofile">公司简介</a></li>
							<li><a href="/index/index/aboutus/aboutus.html#productadvantage">产品优势</a></li>
							<li><a href="/index/index/aboutus/aboutus.html#businessmodel">联系我们</a></li>
						</ul>
					</div>
					<div class="col-sm-3 text-center">
						<h5 class="hidden-xs hidden-sm">下载APP</h5>
						<ul class="list-unstyled">
							<li class="hidden-lg hidden-md"><a href="/index/index/download/downlad.html">下载APP</a></li>
						</ul>
					</div>
					<div class="col-sm-3 text-center">
						<h5 class="hidden-xs hidden-sm">新闻资讯</h5>
						<ul class="list-unstyled">
							<li><a href="/index/index/problemList/problemList.html">常见问题</a></li>
						</ul>
					</div>
					<div class="col-sm-3 text-center">
						<h5 class="hidden-xs hidden-sm">用户声明</h5>
						<ul class="list-unstyled">
							<li><a href="#">免责声明</a></li>
							<li><a href="/index/index/privacy/privacy.html">隐私协议</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 hidden-md hidden-xs hidden-sm scavenging">
					<div class="thumbnail">
				      <img src="{$Think.const.BACK_IMG_URL}web/公众号.jpg" alt="">
				        <span style="text-align: center;">微信公众号</span>
				    </div>
					<div class="thumbnail">
				      <img src="{$Think.const.BACK_IMG_URL}web/Android.png" alt="">
				        <span style="text-align: center;">APP下载</span>
				    </div>
				</div>
				<div class="col-lg-3 text-right hidden-md hidden-xs hidden-sm">
					<p style="font-size: 22px;color: #979A9D">客服热线</p>
					<p style="font-size: 28px;color: #377BEE;">020-3847-2070</p>
					<p style="font-size: 20px;color: #979A9D">（09:00~18：00）</p>
				</div>
			</div>
		</div>
	</div>

	<!-- 尾部 -->
	<footer class="text-center container" style="width: 100%; background-color: #423D47">
		<div class="container" style="padding-top: 20px;padding-bottom: 10px">
			<p style="color: #fff; font-size: 13px;">版权所有广州中瀛信息科技有限公司/ICP备案号：<a href="http://www.miitbeian.gov.cn/state/outPortal/loginPortal.action;jsessionid=qC41-hFNd8uMSIPcb0E6b67GlknQaSnxyHhTe-Zcnlt8LioAolzG!495133832"  style="color:#377BEE;">粤ICP备17053318号-1</a></p>

			<!-- <p style="color: #fff; font-size: 13px;">版权所有深圳市鑫易贷互联网金融有限公司/ICP备案号：<a href="http://www.beianbeian.com/s?keytype=5&q=%E7%B2%A4ICP%E5%A4%8715104065%E5%8F%B7-1"  style="color:#377BEE;">粤ICP备15104065号-1</a></p> -->
		</div>
	</footer>

	<script type="text/javascript" src="{$Think.const.BACK_JS_URL}jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="{$Think.const.BACK_JS_URL}bootstrap.min.js"></script>
	<script language="JavaScript">

	</script>

</body>
</html>
