<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>QA问题修改</title>
<link href="{$Think.const.BACK_CSS_URL}style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{$Think.const.BACK_JS_URL}laydate/laydate.js"></script>
</head>

<body>

    <div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">首页</a></li>
    <li><a href="#">表单</a></li>
    </ul>
    </div>

    <div class="formbody">

    <div class="formtitle"><span>基本信息</span></div>
    <form action="add" method="post" id="selector">


    <ul class="forminfo">
    <!-- <li><label>显示时间：</label>

            <input placeholder="请输入新增开始日期" name="ntime" class="laydate-icon timeUstyle stateUTime" onclick="laydate({istime: true,format:'YYYY-MM-DD hh:mm'})">

    </li> -->
		<input type="hidden" name="bulletin_id" id="bulletin_id" value="<?php echo $_GET['id']; ?>" />

    <li><label >问题分类：</label><cite>
      <select name="type" class="dfinput"  >

        <option value="<?php echo $lists['type'];?>">请选择</option>
        <option value="1">借款相关</option>
        <option value="2">审核相关</option>
        <option value="3">放款相关</option>
        <option value="4">还款和费用相关</option>
        <option value="5">其他问题</option>
    </select>
    </cite></li>


    <li><label>问题：</label><input id="" name="headline" type="text" class="dfinput" value="<?php echo $lists['headline'];?>" placeholder=""/></li>
    <!-- <li><label>答案：</label><input name="webtext" type="text" class="dfinput"/></li> -->
    <li><label>答案：</label><textarea name="webtest" cols="" rows="" value="<?php echo $lists['webtest'];?>"  class="textinput"></textarea></li>

    <li><label >状态：</label><cite>
      <select name="state" class="dfinput" >

        <option value="">请选择</option>
        <option value="1">上架</option>
        <option value="2">下架</option>

    </select>
    </cite></li>



    <li><label>&nbsp;</label><input name="" type="submit" id="btn" value="添加" style="padding: 10px 20px 10px 20px;  background: #DC4E00; color: #F0F0EE;" />
    <input style="padding: 5px 10px 5px 10px; color: #F0F0EE; background-color: #DC4E00;margin-left: 200px;" type='button' name='Submit' onclick='javascript:history.back(-1);' value='返回'></li>
    </ul>

    </form>

    </div>


</body>

<script src='{$Think.const.BACK_JS_URL}jmessage-sdk-web.2.5.0.min.js'></script>
<script src="{$Think.const.BACK_JS_URL}jquery.js"></script>
<script type="text/javascript">



</script>

</html>
