<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>杭州待分配订单</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/select.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/jquery.idTabs.min.js"></script>
<script type="text/javascript" src="js/select-ui.min.js"></script>
<script type="text/javascript" src="editor/kindeditor.js"></script>

<script type="text/javascript">
    KE.show({
        id : 'content7',
        cssPath : './index.css'
    });
  </script>
  
<script type="text/javascript">
$(document).ready(function(e) {
    $(".select1").uedSelect({
		width : 345			  
	});
	$(".select2").uedSelect({
		width : 167  
	});
	$(".select3").uedSelect({
		width : 100
	});
});
</script>
<style type="text/css">
    .tabson ul li{margin-right: 50px;}
</style>
</head>

<body>
	<div class="place">
        <span>位置：</span>
        <ul class="placeul">
        <li><a href="#">首页</a></li>
        <li><a href="#">系统设置</a></li>
        </ul>
    </div>    
    <div class="formbody">

<!--       <div id="tab1" class="tabson">   
        <div class="formtext">Hi，<b>admin</b>，欢迎您试用信息发布功能！</div>   
    </div>  -->
       
  	<div id="tab2" class="tabson">   
    
        <ul class="seachform">
                       
            <li><label>手机号：</label><input name="" type="text" class="scinput" /></li>
            <li><label>产品机构：</label>  
                <div class="vocation">
                <select class="select3">
                <option>全部</option>
                <option>其他</option>
                </select>
                </div>
            </li>  
            <li><label>下单时间：</label>  
            <input name="" type="text" class="scinput" />~<input name="" type="text" class="scinput" />
            </li>           
            <li><label>&nbsp;</label><input name="" type="button" class="scbtn" value="搜索"/></li>
        </ul>
        
    <p style="margin:10px 0;">以下订单已经预约办理，请尽快分配人员跟进（员工经办）</p>
    <table class="tablelist">
    	<thead>
        	<tr>
            <!-- <th><input name="" type="checkbox" value="" checked="checked"/></th> -->
            <th>序号<!-- <i class="sort"><img src="images/px.gif" /></i> --></th>
            <th>订单编号</th>
            <th>手机号</th>
            <th>姓名</th>
            <th>机构</th>
            <th>产品名字</th>
            <th>额度</th>
            <th>利率</th>
            <th>期限</th>
            <th>下单时间</th>
            <th>是否飞单</th>
            <th>操作</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <!-- <td><input name="" type="checkbox" value="" /></td> -->
            <td>1</td>
            <td>3244532645</td>
            <td>广州</td>
            <td>13467852345</td>
            <td>张三</td>
            <td>名字</td>  
            <td></td>          
            <td></td>
            <td></td>
            <td>2018-09-09 12：12：34</td>
            <td>否</td>
            <td><a href="distribution.html" class="tablelink" target="_blank">分配</a>&nbsp;<a href="#" class="tablelink">详情项</a>&nbsp;<a href="#" class="tablelink">匹配</a></td>
        </tr>
        
        <tr>
            <!-- <td><input name="" type="checkbox" value="" /></td> -->
            <td>1</td>
            <td>3244532645</td>
            <td>广州</td>
            <td>13467852345</td>
            <td>张三</td>
            <td>名字</td>  
            <td></td>          
            <td></td>
            <td></td>
            <td>2018-09-09 12：12：34</td>
            <td>否</td>
            <td><a href="distribution.html" class="tablelink" target="_blank">分配</a>&nbsp;<a href="#" class="tablelink">详情项</a>&nbsp;<a href="#" class="tablelink">匹配</a></td>
        </tr>
        
        <tr>
            <!-- <td><input name="" type="checkbox" value="" /></td> -->
            <td>1</td>
            <td>3244532645</td>
            <td>广州</td>
            <td>13467852345</td>
            <td>张三</td>
            <td>名字</td>  
            <td></td>          
            <td></td>
            <td></td>
            <td>2018-09-09 12：12：34</td>
            <td>否</td>
            <td><a href="distribution.html" class="tablelink" target="_blank">分配</a>&nbsp;<a href="#" class="tablelink">详情项</a>&nbsp;<a href="#" class="tablelink">匹配</a></td>
        </tr>
        </tbody>       
    </table>
    <p>杭州待接单全部在次列表，分配后就不在显示在该列表</p>
    </div>      
	</div> 
 
	<script type="text/javascript"> 
      $("#usual1 ul").idTabs(); 
    </script>
    
    <script type="text/javascript">
	$('.tablelist tbody tr:odd').addClass('odd');
	</script>   
    
    </div>


</body>

</html>
